<% layout("/layouts/boilerPlate") %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <form
        action="/listing/<%= listing._id %>?_method=PUT"
        method="post"
        novalidate
        class="needs-validation"
      >
        <br />
        <div>
          <label for="title" class="form-label">Title : </label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control form"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>

        <div>
          <label for="description" class="form-label">Description : </label>
          <textarea
            name="listing[description]"
            class="form-control form"
            required><%= listing.description %></textarea>
          <div class="invalid-feedback">Please Give a description.</div>
        </div>

        <div>
          <label for="Image" class="form-label">Image : </label>
          <input
            type="text"
            name="listing[image.url]"
            value="<%= listing.image.url %>"
            class="form-control form"
            required
          />
          <div class="invalid-feedback">Please Give a Valid Img Link.</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price : </label>
            <input
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control form"
              required
            />
            <div class="invalid-feedback">Price Should be in Number.</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location : </label>
            <input
              type="text"
              name="listing[location]"
              value="<%= listing.location %>"
              class="form-control form"
              required
            />
            <div class="invalid-feedback">Please Give Valid Location.</div>
          </div>
        </div>

        <div>
          <label for="country" class="form-label">Country : </label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.title %>"
            class="form-control form"
            required
          />
          <div class="invalid-feedback">Invalid Country Name.</div>
        </div>

        <button class="btn edit-btn">Edit listing</button>
      </form>
    </div>
  </div>
</body>
